header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsfilme-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsfilme-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}

.dsfilme-contato-conteiner{
    display: flex;
    align-items: center;
}

.dsfilme-contato-link{
    margin: 0px 0px 0px 10px;
    font-size: 12px;
}